@model CategoryIndexVm;
@inject UserService UserService;
@{
    var isAdmin = await UserService.IsAdminAsync();
}

<h1>Categories</h1>

@if (isAdmin)
{
    <p>
        @Html.ActionLink("Create new category", "Create")
    </p>

}


<table>
    <thead>
        <tr>
            <th>Category name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@category.Id">
                            @category.Name
                        </a>
                    } else {
                    @category.Name
                    }
                </td>
                <td>
                    @if (isAdmin)
                    {
                        <button type="button" class="btn btn-danger">
                            <a asp-action="Delete" asp-route-id="@category.Id"
                                style="color: white; text-decoration: none;">Delete</a>
                        </button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>