@model GroupProject.ViewModels.UserListIndexVm;
@inject UserService UserService;

@* <!-- @model IEnumerable<GroupProject.Models.UserShoppingList> --> *@

@{
    var user = await UserService.IsNormalUserAsync();
}

@if (Model.UserShoppingLists.Count > 0)
{
    <p>List has products</p>
}
else if (Model.UserShoppingLists.Count == 0)
{
    <p>List is empty</p>
}

<h1>Your Shopping List</h1>

<p>Here are all the products you have added to your shopping list.</p>

<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.UserShoppingLists)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Product?.Name</td>
                <td>@product.Product?.Price</td>
                <td>@product.Product?.Description</td>
                <td>@product.Product?.Category?.Name</td>
                <td>@product.Quantity</td>
                <td>
                    <form asp-action="AddToMyList" method="post" style="display:inline;">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <button type="submit" class="btn btn-success">+</button>
                    </form>
                    <form asp-action="DecreaseQuantity" method="post" style="display:inline;">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <button type="submit" class="btn btn-warning">-</button>
                    </form>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>